.text-centers {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .my-button {
    /* Adjust the button position */
    margin-top: 100px; /* Increase or decrease as needed */
  }