<div class="container" style="margin-top: 50px;">
    <div class="container px-4 px-lg-5 text-center">
      <h1 class="mb-1">PARKING</h1>
      <h3 class="mb-5" style="margin-top: 30px;"><em>Update parking: </em></h3>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="login-box">
        <form #loginForm ="ngForm" (ngSubmit)="updateParking()">
          <small class="text-danger">{{msg}}</small>

          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example1">Position</label>
            <input type="text" name="Position" class="form-control" [(ngModel)]="parking.position" required #position="ngModel" [class.is-invalid]="position.invalid && position.touched"/>
            <small class ='text-danger' [class.d-none]="position.valid || position.untouched">The parking position is a required field</small>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form2Example2">Full ?</label> 
            <input type="number" id="binary-input" min="0" max="1" step="1" name="full" class="form-control"  [(ngModel)]="parking.full" full="ngModel" #full="ngModel" [class.is-invalid]="full.invalid && full.touched" required/>
            <small class ='text-danger' [class.d-none]="full.valid || full.untouched">0 or 1 to precise the parking availability</small>
          </div>

          <!-- Submit button -->
          <div class="text-center button-wrapper" >
              <button type="submit" class="btn btn-primary btn-block mb-4">Update Parking</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>