.login-box {
    background-color: #f1f6fa; /* Set your desired background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px; 

  }
  .button-wrapper {
  margin-top: 20px;
}